<section class="hero-section" style="background-color: #9f64f1;">
  <div id="petCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image/beautiful-shot-different-dog-breeds-resting.jpg" class="d-block w-100" alt="Dog in hospital" height="900px">
        <div class="carousel-caption d-block">
          <h1 class="hero-title">Welcome to Pet Hospital</h1>
          <p class="hero-text">Caring for Your Dogs with Top-notch Veterinary Services.</p>
          <a  class="btn" style="background-color: #9f64f1;" routerLink="/reservation">Book an Appointment</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/image/closeup-shot-one-ginger-cat-hugging-licking-other-isolated-white-wall.jpg" class="d-block w-100" alt="Cat in hospital" height="900px">
        <div class="carousel-caption d-block">
          <h1 class="hero-title">Welcome to Pet Hospital</h1>
          <p class="hero-text">Healthy Cats, Happy Homes with Expert Care.</p>
          <a  class="btn" style="background-color: #9f64f1;" routerLink="/reservation" >Book an Appointment</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/image/furry-cute-rabbit-isolated.jpg" class="d-block w-100 " alt="Rabbit in hospital" height="900px">
        <div class="carousel-caption d-block">
          <h1 class="hero-title">Welcome to Pet Hospital</h1>
          <p class="hero-text">Specialized Care for Rabbits and Small Animals.</p>
          <a class="btn" style="background-color: #9f64f1;" routerLink="/reservation">Book an Appointment</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#petCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#petCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
