<div class="post-list-container">
  <h2>Posts</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="isLoading" class="loading">
    Loading posts...
  </div>

  <div *ngIf="posts.length > 0">
    <div *ngFor="let post of posts" class="post-card">
      <h4>{{ post.userName }}</h4>
      <p>{{ post.content }}</p>
      <img *ngIf="post.mediaUrl" [src]="post.mediaUrl" alt="Post Image" class="post-image"/>
      <small>{{ post.createdAt  }}</small>
      <button (click)="deletePost(post.postId)" class="delete-btn">Delete</button>
    </div>
  </div>

  <div *ngIf="!isLoading && posts.length === 0">
    No posts found.
  </div>
</div>
